/* Styling the header, main, footer inside app container */
header {
  background-color: #f4a261;
  padding: 1rem;
}

main {
  padding: 2rem;
}

footer {
  background-color: #264653;
  color: white;
  padding: 1rem;
  text-align: center;
}
